  <%= image_tag "logo.png", alt: "Gone Fishin' Logo", class: "logo" %>

<div class="card-container">
  <%= link_to "My Fish", catches_path, class:"btn btn-custom" %>
<br/>
  <%= link_to "My Profile", profile_path, class:"btn btn-custom" %>

</div>
